<%-include('header.ejs') %>
<!-- Middle: Textbox and Button -->
<div class="col-md-6">
  
  <div class="mt-5">
    <h3>user follows you</h3>
    <% for( var i=0;i<result.length;i++)
    { %>
      <p><%=result[i].fname%></p>
      <%}%>
      
    </div>
    
    
    
    
  </div>
  
  
  <%-include('tranding.ejs') %>